{% include'admin_header.html' %}
<div class="wrapper bgded overlay" style="background-image:url('/static/images/111 (8).jpg');">
  <div id="pageintro" class="hoc clear"> 
<center>
<form method="post"><br><br><br>
		<h1>replay</h1>
		<table class="table" style="width: 100px">
			    <tr>
					<th>replay</th>
					<td><input type="text"  name="replay"></td>
				</tr>

				<tr> 
					<td align="center" colspan="2"><input type="submit" name="submit" value="submit">
                    </td>
                </tr>
				

				
		</table><br><br><br>
		
	</form>
</center>
</div>
</div>
{% include'footer.html' %}