{% include 'public_header.html' %}

<div class="wrapper bgded overlay" style="background-image:url('/static/images/amm.jpg');">
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <article><BR>
      <h3 class="heading">TrendsArt</h3>
      <p><b>Fringilla sed posuere et dignissim non ipsum cras euismod urna non neque auctor dignissim nulla mattis purus donec sed lorem eget nibh sagittis</b></p>
      <br> <BR><br>
        <ul class="nospace inline pushright">
          <li><a class="btn" href="login">Learn More</a></li>
          <BR><br> <BR><br>
        </ul><!-- <footer>
      </footer> -->
    </article>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <section id="introblocks" class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <ul class="nospace group">
      <li class="one_third first">
        <article><a href="#"><i class="fas fa-hand-peace"></i></a>
          <h6 class="heading underline">Sapien tempor placerat</h6>
          <p>Luctus mauris lectus elementum nulla ac consectetuer sapien leo et arcu maecenas auctor viverra magna sed.</p>
        </article>
      </li>
      <li class="one_third">
        <article class="active"><a href="#"><i class="fas fa-microphone"></i></a>
          <h6 class="heading underline">Blandit urna fusce</h6>
          <p>In augue blandit ligula pharetra mattis vestibulum congue enim aenean felis augue pretium semper imperdiet.</p>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fas fa-moon"></i></a>
          <h6 class="heading underline">Quis euismod malesuada</h6>
          <p>Purus morbi ut risus nec orci bibendum commodo phasellus fringilla pede vitae tincidunt congue nibh lobortis.</p>
        </article>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="center btmspace-80">
      <h6 class="heading underline font-x2">ABOUT US</h6>
    </div>
    <!-- <ul class="nospace group overview btmspace-80">
      <li class="one_third">
        <article>
          <div class="clear"><a href="#"><i class="fas fa-motorcycle"></i></a>
            <h6 class="heading">Eleifend augue</h6>
          </div>
          <p>Sit amet turpis nulla congue augue lectus quis est ante non mi fusce euismod etiam augue aenean ullamcorper.</p>
        </article>
      </li>
      <li class="one_third">
        <article>
          <div class="clear"><a href="#"><i class="fas fa-newspaper"></i></a>
            <h6 class="heading">Consectetuer euismod</h6>
          </div>
          <p>Neque pellentesque bibendum duis ut est quis nisl consequat gravida nulla facilisi nullam feugiat mauris enim.</p>
        </article>
      </li>
      <li class="one_third">
        <article>
          <div class="clear"><a href="#"><i class="fas fa-paper-plane"></i></a>
            <h6 class="heading">Condimentum vitae</h6>
          </div>
          <p>Ut luctus velit vel eleifend luctus quam ante interdum nibh non sollicitudin enim mi viverra est aenean blandit.</p>
        </article>
      </li>
      <li class="one_third">
        <article>
          <div class="clear"><a href="#"><i class="fas fa-eye"></i></a>
            <h6 class="heading">Praesent elementum</h6>
          </div>
          <p>Fusce ut felis nulla facilisi aliquam erat volutpat morbi fermentum mauris a nunc ut non lectus nunc aliquam est.</p>
        </article>
      </li>
      <li class="one_third">
        <article>
          <div class="clear"><a href="#"><i class="fas fa-leaf"></i></a>
            <h6 class="heading">Posuere curabitur</h6>
          </div>
          <p>Non nisi sed erat diam hendrerit ut auctor sed vulputate at purus vestibulum eget lorem at tortor tristique.</p>
        </article>
      </li>
      <li class="one_third">
        <article>
          <div class="clear"><a href="#"><i class="fas fa-power-off"></i></a>
            <h6 class="heading">Malesuada fames</h6>
          </div>
          <p>Semper nulla adipiscing mi sed rutrum fringilla mauris libero posuere lectus eleifend pretium purus vestibulum.</p>
        </article>
      </li>
    </ul>
    <footer class="center"><a class="btn" href="#">Semper ullamcorper</a></footer>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <!-- <div class="clear"></div>
  </main> --> 
  <P>Start with registration and get ready to sell your paintings online. An artist can sell Paintings  and Drawings with the freedom of putting up the price he/she wants. Artist can upload 1 to as many artworks.

We support Artists to sell art online by various promotional methods like social media, Google search marketing, ads etc. We wish to create the best online place for Artists to sell & equally best place for Art lovers to buy.

</P>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="center btmspace-80">
      <h6 class="heading underline font-x2">our high lights</h6>
    </div>
    <ul class="nospace group">
      <li class="one_quarter first">
        <figure class="fixwidth"><a class="imgover btmspace-30" href="#"><img src="/static/images/nature.jpg" alt=""></a>
          <figcaption class="bold uppercase center">Nature Painting</figcaption>
        </figure>
      </li>
      <li class="one_quarter">
        <figure class="fixwidth"><a class="imgover btmspace-30" href="#"><img src="/static/images/ammu.jpg" alt=""></a>
          <figcaption class="bold uppercase center">Modern Art</figcaption>
        </figure>
      </li>
      <li class="one_quarter">
        <figure class="fixwidth"><a class="imgover btmspace-30" href="#"><img src="/static/images/mural.jpg" alt=""></a>
          <figcaption class="bold uppercase center">Mural Painting</figcaption>
        </figure>
      </li>
      <li class="one_quarter">
        <figure class="fixwidth"><a class="imgover btmspace-30" href="#"><img src="/static/images/wed.jpg" alt=""></a>
          <figcaption class="bold uppercase center">wedding cartoon</figcaption>
        </figure>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->





{% include 'footer.html' %}

