{% include 'user_header.html' %}
<div class="wrapper bgded overlay" style="background-image:url('/static/images/111 (8).jpg');">
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <article><br><br><br>
      <h3 class="heading">Welcome To trendsArt</h3>
     <!--  <p>Fringilla sed posuere et dignissim non ipsum cras euismod urna non neque auctor dignissim nulla mattis purus donec sed lorem eget nibh sagittis</p> -->
      <footer>
        <ul class="nospace inline pushright">
          <!-- <li><a class="btn" href="login">Learn More</a></li> -->
          <!-- <li><a class="btn inverse" href="#">Nunc molestie</a></li> -->
        </ul>
      </footer>
    </article>
    <!-- ################################################################################################ -->
  </div>
</div>
{% include 'footer.html' %}

